.*
*.o
*.d
*.o.*
*.a
*.s
*.so
*.so.dbg
*.tar
*.gz
*.patch
*.gcno
*.dwo
bin/
/tags
/TAGS

# git files that we don't want to ignore even if they are dot-files
!.gitignore

# cscope files
cscope.*
ncscope.*
